.map-container {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.marker-options {
  display: inline-block;
  padding-top: 10px;
  cursor: pointer;
}

.delete {
  float: right;
}

.fa-cog:hover, .fa-cog:active {
  color: skyblue;
}

.fa-sync {
  color: white;
}

.fa-sync:hover {
  color: rgb(74, 138, 11);
  animation: refreshbtn-spin infinite 5s linear;
}

.fa-sync:active {
  color: rgb(125, 245, 4);
}

@keyframes refreshbtn-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 

#refreshbtn {
  background: black;
  position: absolute;
  z-index: 999;
  right: 25px;
  bottom: 25px;
  padding: 10px;
  border-radius: 5px;
}

