.login {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.login-header {
  padding: 2px 16px;
  background-color: #294E74;
  color: #FFC500;
  text-align: center;
}

.login-body {
  padding: 2px 16px;
  background-color: #FFC500;
  color: #294E74;
}

.login-content {
  position: relative;
  background-color: #fefefe;
  top: 50px;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

#LoginForm {
  text-align: center;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 50px; opacity: 1}
}

/* The Close Button */
.close-btn {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover, .close-btn:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

/* https://stackoverflow.com/questions/9707021/how-do-i-auto-hide-placeholder-text-upon-focus-using-css-or-jquery */
input:focus::-webkit-input-placeholder { 
  color:transparent; 
}

input:focus:-moz-placeholder { 
  color:transparent; 
} /* FF 4-18 */

input:focus::-moz-placeholder { 
  color:transparent;
} /* FF 19+ */

input:focus:-ms-input-placeholder { 
  color:transparent; 
} /* IE 10+ */

textarea:focus::-webkit-input-placeholder { 
  color:transparent; 
}

textarea:focus:-moz-placeholder { 
  color:transparent; 
} /* FF 4-18 */

textarea:focus::-moz-placeholder { 
  color:transparent;
} /* FF 19+ */

textarea:focus:-ms-input-placeholder { 
  color:transparent; 
} /* IE 10+ */

.form-input {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1em;
}

.form-input-paragraph {
  width: 60%;
  max-width: 90%;
  min-height: 100px;
}

.input-container {
  text-align: center;
  margin-bottom: 20px;
}

.button-save {
  background-color: #4267b2;
  border: 1px solid #4267b2;
  border-radius: 2px;
  color: white;
  width: 60%;
  height: 50px;
  outline: none;  
  cursor: pointer;
}

.button-save:hover {
  background-color: #365899;
  border: 1px solid #365899;
  border-radius: 2px;
}

.invalid {
  border: 1px solid red;
}